@size-1: 33px;

@color-main:#ea1717;
@color-sub:#319cd0;
@color-white: #efeff0;
@color-grey-0:#eaeaea;

@color-blue-main:#358bac;

@color-grey-2: #4a4343;

@box-shadow-1: 1px 2px 2px rgba(72, 70, 70, 0.3);
@box-shadow-2: 2px 2px 2px rgba(10,10,10,0.3);
@border-1: 1px solid #ece7e7;


@width-0: 330px;
@width-1:700px;
@width-4:1600px;
@width-5:1800px;


@radius-0: 3px;
@radius-1: 6px;
@radius-2: 12px;

@spacing-1:7px;
@spacing-2:14px;
@spacing-3:21px;
@spacing-4:28px;
@spacing-5:36px;

@font-0:10px;
@font-1:14px;
@font-2:18px;
@font-3: 21px;
@font-4: 28px;
@font-5: 36px;

.font-1{
    font-size: @font-1;
}

p,h1,h2,h3,h4,h5,h6,a{
    margin: 0;
}
body{
    background-color: white;
}
img{
    max-width: 100%;
}
.ant-layout{
    background: white;
}

// HTML basics...........................................

.clr-trending{
    color: @color-main;
}
.clr-text-grey{
    color: @color-grey-2;
}
.flex{
    display: flex;
}
.block{
    display: block;
}

.flex-column{
    flex-direction: column;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.margin-center{
    margin-left: auto;
    margin-right: auto;
}
.justify-center{
    justify-content: center
}
.justify-end{
    justify-content: flex-end;
}
.items-center{
    align-items: center;
}

.fat{
    font-weight: 600;
}

.margin-top-1{
    margin-top: @spacing-1;
}
.margin-top-3{
    margin-top: @spacing-3;
}
.margin-top-4{
    margin-top: @spacing-4;
}
.margin-top-5{
    margin-top: @spacing-5;
}
.margin-bottom-5{
    margin-bottom: @spacing-5;
}

.pointer{
    cursor: pointer;
}



// Align and Position ............................................................................................


.container-basic{
    display: flex;
    max-width: 94%;
}
.al-container-1, .al-container-2,.al-container-3{
    .container-basic;
}
.al-container-1{
    min-height: calc(100vh - @size-1);   
    width: @width-4; 
    .margin-center;
    padding-bottom: @spacing-3;
}
.al-container-2{
    width: @width-4;
    .margin-center;
}
.al-container-3{
    width: @width-1;
    .margin-center;
    .text-center;
    .justify-center;
    .items-center;
    min-height: 69vh;
}



// al-Containers ............................................................
.al-review-block{
    border: @border-1;
    border-radius: @radius-1;
    padding: @spacing-2 @spacing-3;    
    .margin-top-5;
    .al-review-block-source{
        .text-right;
        span{
            .fat;
        }
    }
}

.al-current-page{
    color: @color-main;
    .fat;
    &:hover{
        color: @color-main;
    }
}


.al-app-logo{
    .margin-center;
    width: @width-0;
    margin-top: @spacing-3;
}

.al-title{
    .fat;
    font-size: @font-5;
}

.al-loading, .al-no-data{
    width: 100%;
    text-align: center;
    margin-top: 18vh;
    font-size: 20px;
    color: #cecece;
}

.al-tag-details{
 margin-left: @spacing-1;
 color: @color-main;
}


.al-link-1{
    a{
        color: @color-sub;
        padding: @radius-1 @spacing-1;
        border-radius: @radius-0;
        box-shadow: 1@box-shadow-1;
        border:1px solid @color-sub;
        margin-left: @spacing-1;
        margin-right: @spacing-1;
        display: inline-block;
    }
    .fat;
}

.al-label-highlight{
    display: inline-block;
    .fat;
    color: @color-grey-2;
    font-size: @font-2;
    margin-right: @spacing-1;
    margin-top: @spacing-2;
}

// Tags and links....

.al-page-info,.al-page-detail-info{
    padding: @spacing-3;
    h1{
        font-size: @font-5;
        .fat;
    }
    p{
        line-height: @font-4;
    }
}




.al-page-detail-info{
    .text-center;
    img{
        width: 100%;
        margin-bottom: @spacing-3;
    }
}
.al-page-detail-info-extra{
    .text-left;
    // background-color: red;
}

// Info

.al-card-columns{
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    @media only screen and (max-width: @width-5) {
        width:49%;
    }
    @media only screen and (max-width: @width-1) {
        width:98%;
    }
}
.al-cards-custom{
    margin-bottom: @spacing-2;
    .ant-card{
        min-height: 100%;
        border-radius: @radius-1;
        margin: @spacing-1;
        box-shadow: @box-shadow-2;
        border: @border-1;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
            transform: rotate(1deg);
        }
        .ant-card-head-title{
            font-size: @font-3;
            padding: @spacing-2 0;
        }
        .ant-card-body{
            padding: 0 0 @spacing-3 0;
            .al-card-main-info,.al-card-main-description{
                padding: 0 @spacing-3;
            }
            .al-card-main-info{
                margin: @spacing-1 0;
            }
        }
    }
}

.al-page-filters{
    label{
        display: block;
    }
}

// al-componenets ............................................................


#page-about{
    p{
        margin-top: @spacing-2;
    }
}



// page specific ............................................................


.ant-btn-clear{
    background-color: @color-main;
    border-color: @color-main;
    color: white;
    &:hover,&:focus{
        background-color: @color-main;
        border-color: @color-main;
        color: white;
        opacity: 0.8;
    }
}

.ant-table-thead, .ant-table-tbody{
    tr{
        td,th{
            &:last-child{
                text-align: right;
            }
        }
        
    }
}
.ant-pagination-simple{
    padding: @spacing-3;
    .text-right;
    background-color: rgba(249, 249, 249, 0.85);
}
.ant-table-tbody > tr > td {
    padding: @spacing-1 @spacing-3;
}
.ant-menu{
    @media only screen and (max-width: @width-5) {
       .justify-center;
    }
}
.ant-menu-item{
    font-size: @font-2;
}

.ant-collapse{
    background-color: transparent;
    border-left: none;
    border-right: none;
}

.ant-back-top{
    display: block;
    width: @spacing-4;
    height: @spacing-4;
    svg{
        width: 100%;
        height: 100%;
        color: @color-grey-2;
        fill:@color-grey-2;
    }
    
}

//Ant modifiers ............................................................